/* .mytable{
    background-color: #002c54 !important;
    color: white;
} */

.mytable table thead tr th {
    background-color: #002c54 !important;
    color: #F22F6B;
    font-size: 1.2rem;
}

.theTableCell{
    /* background-color: red; */
    vertical-align: top;
    border-style: solid;
}